<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>vue-admin-template</title>
    <link rel=stylesheet href="https://printjs-4de6.kxcdn.com/print.min.css"
    type=text/css>
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
  </head>
  <body>
    <div class="card border-0 mb-4" id="printJS-form">
      <img
        class="d-inline-block rounded-circle"
        width="32"
        src="https://avatar-static.segmentfault.com/328/777/3287779030-5cd8ebbe86747_big64"
        aria-hidden="true"
      />
      电话攻击(电话轰炸、可代替短信轰炸)、留言攻击工具 | 随缘维护，佛系更新
      <div style="height: 500px;">
        1.话轰炸、可代替短信轰炸)、留言攻击工具 | 随缘维护，佛
      </div>
      <div style="height: 500px;">
        1.话轰炸、可代替短信轰炸)、留言攻击工具 | 随缘维护，佛
      </div>
      <div style="height: 500px;">
        1.话轰炸、可代替短信轰炸)、留言攻击工具 | 随缘维护，佛
      </div>
      <div style="height: 500px;">
        1.话轰炸、可代替短信轰炸)、留言攻击工具 | 随缘维护，佛
      </div>
      <div style="height: 500px;">
        1.话轰炸、可代替短信轰炸)、留言攻击工具 | 随缘维护，佛
      </div>
      <div style="height: 500px;">
        1.话轰炸、可代替短信轰炸)、留言攻击工具 | 随缘维护，佛
      </div>
      <div style="height: 500px;">
        1.话轰炸、可代替短信轰炸)、留言攻击工具 | 随缘维护，佛
      </div>
      <div style="height: 500px;">
        1.话轰炸、可代替短信轰炸)、留言攻击工具 | 随缘维护，佛
      </div>
      <div style="height: 500px;">
        1.话轰炸、可代替短信轰炸)、留言攻击工具 | 随缘维护，佛
      </div>
      <div style="height: 500px;">
        1.话轰炸、可代替短信轰炸)、留言攻击工具 | 随缘维护，佛
      </div>
      <div style="height: 500px;">
        1.话轰炸、可代替短信轰炸)、留言攻击工具 | 随缘维护，佛
      </div>
      <div style="height: 500px;">
        1.话轰炸、可代替短信轰炸)、留言攻击工具 | 随缘维护，佛
      </div>
    </div>
    <button type="button" onclick="printJS('printJS-form', 'html')">
      Print Form
    </button>
  </body>
</html>
