/* animation: name duration timing-function delay iteration-count direction; */

.bounce{-webkit-animation:1s ease;-moz-animation:1s ease;-ms-animation:1s;}
.fadein,.fadeinT,.fadeinR,.fadeinB,.fadeinL,.bouncein,.bounceinT,.bounceinR,.bounceinB,.bounceinL,.rotatein,.rotateinLT,.rotateinLB,.rotateinRT,.rotateinRB{-webkit-animation:1s ease-in backwards;-moz-animation:1s ease-in backwards;-ms-animation:1s ease-in backwards;animation:1s ease-in backwards;}
.fadeout,.fadeoutT,.fadeoutR,.fadeoutB,.fadeoutL,.bounceout,.bounceoutT,.bounceoutR,.bounceoutB,.bounceoutL{-webkit-animation:1s ease-out forwards;-moz-animation:1s ease-out forwards;-ms-animation:1s ease-out forwards;animation:1s ease-out forwards;}

/* 淡入 */
.fadein{-webkit-animation-name:fadein;-moz-animation-name:fadein;-ms-animation-name:fadein;animation-name:fadein}

/* 淡入-从上 */
.fadeinT{-webkit-animation-name:fadeinT;-moz-animation-name:fadeinT;-ms-animation-name:fadeinT;animation-name:fadeinT}
/* 淡入-从右 */
.fadeinR{-webkit-animation-name:fadeinR;-moz-animation-name:fadeinR;-ms-animation-name:fadeinR;animation-name:fadeinR}
/* 淡入-从下 */
.fadeinB{-webkit-animation-name:fadeinB;-moz-animation-name:fadeinB;-ms-animation-name:fadeinB;animation-name:fadeinB}
/* 淡入-从左 */
.fadeinL{-webkit-animation-name:fadeinL;-moz-animation-name:fadeinL;-ms-animation-name:fadeinL;animation-name:fadeinL}

/* 淡出 */
.fadeout{-webkit-animation-name:fadeout;-moz-animation-name:fadeout;-ms-animation-name:fadeout;animation-name:fadeout}

/* 淡出-从上 */
.fadeoutT{-webkit-animation-name:fadeoutT;-moz-animation-name:fadeoutT;-ms-animation-name:fadeoutT;animation-name:fadeoutT}
/* 淡出-从右 */
.fadeoutR{-webkit-animation-name:fadeoutR;-moz-animation-name:fadeoutR;-ms-animation-name:fadeoutR;animation-name:fadeoutR}
/* 淡出-从下 */
.fadeoutB{-webkit-animation-name:fadeoutB;-moz-animation-name:fadeoutB;-ms-animation-name:fadeoutB;animation-name:fadeoutB}
/* 淡出-从左 */
.fadeoutL{-webkit-animation-name:fadeoutL;-moz-animation-name:fadeoutL;-ms-animation-name:fadeoutL;animation-name:fadeoutL}

/* 弹跳 */
.bounce{-webkit-animation-name:bounce;-moz-animation-name:bounce;-ms-animation-name:bounce;animation-name:bounce;}

/* 弹入 */
.bouncein{-webkit-animation-name:bouncein;-moz-animation-name:bouncein;-ms-animation-name:bouncein;animation-name:bouncein;}
/* 弹入-向上 */
.bounceinT{-webkit-animation-name:bounceinT;-moz-animation-name:bounceinT;-ms-animation-name:bounceinT;animation-name:bounceinT;}
/* 弹入-向右 */
.bounceinR{-webkit-animation-name:bounceinR;-moz-animation-name:bounceinR;-ms-animation-name:bounceinR;animation-name:bounceinR;}
/* 弹入-向下 */
.bounceinB{-webkit-animation-name:bounceinB;-moz-animation-name:bounceinB;-ms-animation-name:bounceinB;animation-name:bounceinB;}
/* 弹入-向左 */
.bounceinL{-webkit-animation-name:bounceinL;-moz-animation-name:bounceinL;-ms-animation-name:bounceinL;animation-name:bounceinL;}

/* 弹出 */
.bounceout{-webkit-animation-name:bounceout;-moz-animation-name:bounceout;-ms-animation-name:bounceout;animation-name:bounceout;}
/* 弹出-向上 */
.bounceoutT{-webkit-animation-name:bounceoutT;-moz-animation-name:bounceoutT;-ms-animation-name:bounceoutT;animation-name:bounceoutT;}
/* 弹出-向右 */
.bounceoutR{-webkit-animation-name:bounceoutR;-moz-animation-name:bounceoutR;-ms-animation-name:bounceinR;animation-name:bounceoutR;}
/* 弹出-向下 */
.bounceoutB{-webkit-animation-name:bounceoutB;-moz-animation-name:bounceoutB;-ms-animation-name:bounceoutB;animation-name:bounceoutB;}
/* 弹出-向左 */
.bounceoutL{-webkit-animation-name:bounceoutL;-moz-animation-name:bounceoutL;-ms-animation-name:bounceoutL;animation-name:bounceoutL;}

/* 转入 */
.rotatein{-webkit-animation-name:rotatein;-moz-animation-name:rotatein;-ms-animation-name:rotatein;animation-name:rotatein;}
.rotateinLT{-webkit-animation-name:rotateinLT;-moz-animation-name:rotateinLT;-ms-animation-name:rotateinLT;animation-name:rotateinLT;}

/* define */
/* 淡入 */
@-webkit-keyframes fadein{
    0%{opacity:0}
    100%{opacity:1}
}
@-moz-keyframes fadein{
    0%{opacity:0}
    100%{opacity: 1}
}
@-ms-keyframes fadein{
    0%{opacity:0}
    100%{opacity:1}
}
@keyframes fadein{
    0%{opacity:0}
    100%{opacity:1}
}

/* 淡入-从上 */
@-webkit-keyframes fadeinT{
    0%{opacity:0;-webkit-transform:translateY(-100px)}
    100%{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeinT{
    0%{opacity:0;-moz-transform:translateY(-100px)}
    100%{opacity:1;-moz-transform:translateY(0)}
}
@-ms-keyframes fadeinT{
    0%{opacity:0;-ms-transform:translateY(-100px)}
    100%{opacity:1;-ms-transform:translateY(0)}
}
@keyframes fadeinT{
    0%{opacity:0;transform:translateY(-100px)}
    100%{opacity:1;transform: translateY(0)}
}


/* 淡入-从右 */
@-webkit-keyframes fadeinR{
    0%{opacity:0;-webkit-transform:translateX(100px)}
    100%{opacity:1;-webkit-transform:translateX(0)}
}
@-moz-keyframes fadeinR{
    0%{opacity:0;-moz-transform:translateX(100px)}
    100%{opacity: 1; -moz-transform:translateX(0)}
}
@-ms-keyframes fadeinR{
    0%{opacity:0;-ms-transform:translateX(100px)}
    100%{opacity:1;-ms-transform:translateX(0)}
}
@keyframes fadeinR{
    0%{opacity: 0;transform: translateX(100px)}
    100%{opacity: 1;transform: translateX(0)}
}
/* 淡入-从下 */
@-webkit-keyframes fadeinB{
    0%{opacity:0;-webkit-transform:translateY(100px)}
    100%{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeinB{
    0%{opacity:0;-moz-transform:translateY(100px)}
    100%{opacity:1;-moz-transform:translateY(0)}
}
@-ms-keyframes fadeinB{
    0%{opacity:0;-ms-transform:translateY(100px)}
    100%{opacity:1;-ms-transform:translateY(0)}
}
@keyframes fadeinB{
    0%{opacity:0;transform:translateY(100px)}
    100%{opacity:1;transform: translateY(0)}
}

/* 淡入-从左 */
@-webkit-keyframes fadeinB{
    0%{opacity:0;-webkit-transform:translateX(-100px)}
    100%{opacity:1;-webkit-transform:translateX(0)}
}
@-moz-keyframes fadeinB{
    0%{opacity:0;-moz-transform:translateX(-100px)}
    100%{opacity: 1; -moz-transform:translateX(0)}
}
@-ms-keyframes fadeinB{
    0%{opacity:0;-ms-transform:translateX(-100px)}
    100%{opacity:1;-ms-transform:translateX(0)}
}
@keyframes fadeinB{
    0%{opacity: 0;transform: translateX(-100px)}
    100%{opacity: 1;transform: translateX(0)}
}


/* 淡出 */
@-webkit-keyframes fadeout{
    0%{opacity:1}
    100%{opacity:0}
}
@-moz-keyframes fadeout{
    0%{opacity:1}
    100%{opacity:0}
}
@-ms-keyframes fadeout{
    0%{opacity:1}
    100%{opacity:0}
}
@keyframes fadeout{
    0%{opacity:1}
    100%{opacity:0}
}


/* 淡出-向上*/
@-webkit-keyframes fadeoutT{
    0%{opacity: 1;-webkit-transform:translateY(0)}
    100%{opacity: 0;-webkit-transform:translateY(-100px)}
}
@-moz-keyframes fadeoutT{
    0%{opacity: 1;-moz-transform:translateY(0)}
    100%{opacity: 0;-moz-transform:translateY(-100px)}
}
@-ms-keyframes fadeoutT{
    0%{opacity: 1;-ms-transform:translateY(0)}
    100%{opacity: 0;-ms-transform:translateY(-100px)}
}
@keyframes fadeoutT{
    0%{opacity: 1;transform: translateY(0)}
    100%{opacity: 0;transform: translateY(-100px)}
}

/* 淡出-向右 */
@-webkit-keyframes fadeoutR{
    0%{opacity:1;-webkit-transform:translateX(0)}
    100%{opacity: 0;-webkit-transform:translateX(100px)}
}
@-moz-keyframes fadeoutR{
    0%{opacity: 1;-moz-transform:translateX(0)}
    100%{opacity:0;-moz-transform:translateX(100px)}
} 
@-ms-keyframes fadeoutR{
    0%{opacity:1;-ms-transform:translateX(0)}
    100%{opacity: 0;-ms-transform:translateX(100px)}
}
@keyframes fadeoutR{
    0%{opacity: 1;transform: translateX(0)}
    100%{opacity: 0;transform: translateX(100px)}    
}

/* 淡出-向下 */
@-webkit-keyframes fadeoutB{
    0%{opacity:1;-webkit-transform:translateY(0)}
    100%{opacity: 0;-webkit-transform:translateY(100px)}
}
@-moz-keyframes fadeoutB{
    0%{opacity: 1;-moz-transform:translateY(0)}
    100%{opacity:0;-moz-transform:translateY(100px)}
} 
@-ms-keyframes fadeoutB{
    0%{opacity:1;-ms-transform:translateY(0)}
    100%{opacity: 0;-ms-transform:translateY(100px)}
}
@keyframes fadeoutB{
    0%{opacity: 1;transform: translateY(0)}
    100%{opacity: 0;transform: translateY(100px)}    
}
/* 淡出-向左 */
@-webkit-keyframes fadeoutL{
    0%{opacity:1;-webkit-transform:translateX(0)}
    100%{opacity: 0;-webkit-transform:translateX(-100px)}
}
@-moz-keyframes fadeoutL{
    0%{opacity: 1;-moz-transform:translateX(0)}
    100%{opacity:0;-moz-transform:translateX(-100px)}
} 
@-ms-keyframes fadeoutL{
    0%{opacity:1;-ms-transform:translateX(0)}
    100%{opacity: 0;-ms-transform:translateX(-100px)}
}
@keyframes fadeoutL{
    0%{opacity: 1;transform: translateX(0)}
    100%{opacity: 0;transform: translateX(-100px)}    
}

/* 弹跳 */
@-webkit-keyframes bounce{
    0%,20%,50%,80%,100%{-webkit-transform:translateY(0)}
    40%{-webkit-transform:translateY(-30px)}
    60%{-webkit-transform:translateY(-15px)}
}
@-moz-keyframes bounce{
    0%,20%,50%,80%,100%{-moz-transform:translateY(0)}
    40%{-moz-transform:translateY(-30px)}
    60%{-moz-transform:translateY(-15px)}
}
@-ms-keyframes bounce{
    0%,20%,50%,80%,100%{-ms-transform:translateY(0)}
    40%{-ms-transform:translateY(-30px)}
    60%{-ms-transform:translateY(-15px)}
}
@keyframes bounce{
    0%,20%,50%,80%,100%{transform:translateY(0)}
    40%{transform:translateY(-30px)}
    60%{transform:translateY(-15px)}
}

/* 弹入 */
@-webkit-keyframes bouncein{
    0%{opacity: 0; -webkit-transform:scale(0.3)}
    50%{opacity:1; -webkit-transform:scale(1.3)}
    80%{-webkit-transform:scale(0.9)}
    100%{-webkit-transform:scale(1)}
}
@-moz-keyframes bouncein{
    0%{opacity:0; -moz-transform:scale(0.3)}
    50%{opacity:1; -moz-transform:scale(1.3)}
    80%{-moz-transform:scale(0.9)}
    100%{-moz-transform:scale(1)}
}
@-ms-keyframes bouncein{
    0%{opacity:0; -ms-transform:scale(0.3)}
    50%{opacity:1; -ms-transform:scale(1.3)}
    80%{-ms-transform:scale(0.9)}
    100%{-ms-transform:scale(1)}
}
@keyframes bouncein{
    0%{opacity:0; transform:scale(0.3)}
    50%{opacity:1; transform:scale(1.3)}
    80%{transform:scale(0.9)}
    100%{transform:scale(1)}
}

/* 弹入-向上 */
@-webkit-keyframes bounceinT{
    0%{opacity:0; -webkit-transform:translateY(-100px);}
    50%{opacity:1; -webkit-transform:translateY(20px);}
    80%{-webkit-transform:translateY(-10px);}
    100%{-webkit-transform:translateY(0);}
}
@-moz-keyframes bounceinT{
    0%{opacity:0; -moz-transform:translateY(-100px);}
    50%{opacity:1; -moz-transform:translateY(20px);}
    80%{-moz-transform:translateY(-10px);}
    100%{-moz-transform:translateY(0);}
}
@-ms-keyframes bounceinT{
    0%{opacity:0; -ms-transform:translateY(-100px);}
    50%{opacity:1; -ms-transform:translateY(20px);}
    80%{-ms-transform:translateY(-10px);}
    100%{-ms-transform:translateY(0);}
}
@keyframes bounceinT{
    0%{opacity:0; transform:translateY(-100px);}
    50%{opacity:1; transform:translateY(20px);}
    80%{transform:translateY(-10px);}
    100%{transform:translateY(0);}
}
/* 弹入-从右 */
@-webkit-keyframes bounceinR{
    0%{opacity: 0; -webkit-transform:translateX(100px)}
    50%{opacity: 1; -webkit-transform:translateX(-20px)}
    80%{-webkit-transform:translateX(10px)}
    100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes bounceinR{
    0%{opacity: 0; -moz-transform:translateX(100px)}
    50%{opacity: 1; -moz-transform:translateX(-20px)}
    80%{-moz-transform:translateX(10px)}
    100%{-moz-transform:translateX(0)}
}
@-ms-keyframes bounceinR{
    0%{opacity: 0; -ms-transform:translateX(100px)}
    50%{opacity: 1; -ms-transform:translateX(-20px)}
    80%{-ms-transform:translateX(10px)}
    100%{-ms-transform:translateX(0)}
}
@keyframes bounceinR{
    0%{opacity: 0; transform:translateX(100px)}
    50%{opacity: 1; transform:translateX(-20px)}
    80%{transform:translateX(10px)}
    100%{transform:translateX(0)}
}
/* 弹入-向下 */
@-webkit-keyframes bounceinB{
    0%{opacity:0; -webkit-transform:translateY(100px);}
    50%{opacity:1; -webkit-transform:translateY(-20px);}
    80%{-webkit-transform:translateY(10px);}
    100%{-webkit-transform:translateY(0);}
}
@-moz-keyframes bounceinB{
    0%{opacity:0; -moz-transform:translateY(100px);}
    50%{opacity:1; -moz-transform:translateY(-20px);}
    80%{-moz-transform:translateY(10px);}
    100%{-moz-transform:translateY(0);}
}
@-ms-keyframes bounceinB{
    0%{opacity:0; -ms-transform:translateY(100px);}
    50%{opacity:1; -ms-transform:translateY(-20px);}
    80%{-ms-transform:translateY(10px);}
    100%{-ms-transform:translateY(0);}
}
@keyframes bounceinB{
    0%{opacity:0; transform:translateY(100px);}
    50%{opacity:1; transform:translateY(-20px);}
    80%{transform:translateY(10px);}
    100%{transform:translateY(0);}
}
/* 弹入-从左 */
@-webkit-keyframes bounceinL{
    0%{opacity: 0; -webkit-transform:translateX(-100px)}
    50%{opacity: 1; -webkit-transform:translateX(20px)}
    80%{-webkit-transform:translateX(-10px)}
    100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes bounceinL{
    0%{opacity: 0; -moz-transform:translateX(-100px)}
    50%{opacity: 1; -moz-transform:translateX(20px)}
    80%{-moz-transform:translateX(-10px)}
    100%{-moz-transform:translateX(0)}
}
@-ms-keyframes bounceinL{
    0%{opacity: 0; -ms-transform:translateX(-100px)}
    50%{opacity: 1; -ms-transform:translateX(20px)}
    80%{-ms-transform:translateX(-10px)}
    100%{-ms-transform:translateX(0)}
}
@keyframes bounceinL{
    0%{opacity: 0; transform:translateX(-100px)}
    50%{opacity: 1; transform:translateX(20px)}
    80%{transform:translateX(-10px)}
    100%{transform:translateX(0)}
}

/* 弹出 */
@-webkit-keyframes bounceout{
    0%{ -webkit-transform:scale(0.3)}
    50%{ -webkit-transform:scale(1.3)}
    80%{opacity:1;-webkit-transform:scale(0.9)}
    100%{opacity: 0;-webkit-transform:scale(1)}
}
@-moz-keyframes bounceout{
    0%{-moz-transform:scale(0.3)}
    50%{-moz-transform:scale(1.3)}
    80%{opacity:1; -moz-transform:scale(0.9)}
    100%{opacity:0; -moz-transform:scale(1)}
}
@-ms-keyframes bounceout{
    0%{ -ms-transform:scale(0.3)}
    50%{ -ms-transform:scale(1.3)}
    80%{opacity:1;-ms-transform:scale(0.9)}
    100%{opacity:0;-ms-transform:scale(1)}
}
@keyframes bounceout{
    0%{ transform:scale(0.3)}
    50%{ transform:scale(1.3)}
    80%{opacity:1;transform:scale(0.9)}
    100%{opacity:0;transform:scale(1)}
}

/* 弹出-向上 */
@-webkit-keyframes bounceoutT{
    0%{-webkit-transform:translateY(-10px);}
    20%{ -webkit-transform:translateY(0);}
    30%{opacity:1;-webkit-transform:translateY(20px);}
    100%{opacity:0; -webkit-transform:translateY(-100px);}
}
@-moz-keyframes bounceoutT{
    0%{-moz-transform:translateY(-10px);}
    20%{-moz-transform:translateY(0); }
    30%{opacity:1;-moz-transform:translateY(20px);}
    100%{opacity:0; -moz-transform:translateY(-100px);}
}
@-ms-keyframes bounceoutT{
    0%{-ms-transform:translateY(-10px); }
    20%{ -ms-transform:translateY(0);}
    30%{opacity:1;-ms-transform:translateY(20px);}
    100%{opacity:0;-ms-transform:translateY(-100px);}
}
@keyframes bounceoutT{
    0%{ transform:translateY(-10px);}
    20%{transform:translateY(0);}
    30%{opacity:1; transform:translateY(20px);}
    100%{opacity:0;transform:translateY(-100px);}
}
/* 弹出-从右 */
@-webkit-keyframes bounceoutR{
    0%{opacity: 0; -webkit-transform:translateX(100px)}
    50%{opacity: 1; -webkit-transform:translateX(-20px)}
    80%{-webkit-transform:translateX(10px)}
    100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes bounceoutR{
    0%{opacity: 0; -moz-transform:translateX(100px)}
    50%{opacity: 1; -moz-transform:translateX(-20px)}
    80%{-moz-transform:translateX(10px)}
    100%{-moz-transform:translateX(0)}
}
@-ms-keyframes bounceoutR{
    0%{opacity: 0; -ms-transform:translateX(100px)}
    50%{opacity: 1; -ms-transform:translateX(-20px)}
    80%{-ms-transform:translateX(10px)}
    100%{-ms-transform:translateX(0)}
}
@keyframes bounceoutR{
    0%{opacity: 0; transform:translateX(100px)}
    50%{opacity: 1; transform:translateX(-20px)}
    80%{transform:translateX(10px)}
    100%{transform:translateX(0)}
}
/* 弹出-向下 */
@-webkit-keyframes bounceoutB{
    0%{opacity:0; -webkit-transform:translateY(100px);}
    50%{opacity:1; -webkit-transform:translateY(-20px);}
    80%{-webkit-transform:translateY(10px);}
    100%{-webkit-transform:translateY(0);}
}
@-moz-keyframes bounceoutB{
    0%{opacity:0; -moz-transform:translateY(100px);}
    50%{opacity:1; -moz-transform:translateY(-20px);}
    80%{-moz-transform:translateY(10px);}
    100%{-moz-transform:translateY(0);}
}
@-ms-keyframes bounceoutB{
    0%{opacity:0; -ms-transform:translateY(100px);}
    50%{opacity:1; -ms-transform:translateY(-20px);}
    80%{-ms-transform:translateY(10px);}
    100%{-ms-transform:translateY(0);}
}
@keyframes bounceoutB{
    0%{opacity:0; transform:translateY(100px);}
    50%{opacity:1; transform:translateY(-20px);}
    80%{transform:translateY(10px);}
    100%{transform:translateY(0);}
}
/* 弹出-从左 */
@-webkit-keyframes bounceoutL{
    0%{opacity: 0; -webkit-transform:translateX(-100px)}
    50%{opacity: 1; -webkit-transform:translateX(20px)}
    80%{-webkit-transform:translateX(-10px)}
    100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes bounceoutL{
    0%{opacity: 0; -moz-transform:translateX(-100px)}
    50%{opacity: 1; -moz-transform:translateX(20px)}
    80%{-moz-transform:translateX(-10px)}
    100%{-moz-transform:translateX(0)}
}
@-ms-keyframes bounceoutL{
    0%{opacity: 0; -ms-transform:translateX(-100px)}
    50%{opacity: 1; -ms-transform:translateX(20px)}
    80%{-ms-transform:translateX(-10px)}
    100%{-ms-transform:translateX(0)}
}
@keyframes bounceoutL{
    0%{opacity: 0; transform:translateX(-100px)}
    50%{opacity: 1; transform:translateX(20px)}
    80%{transform:translateX(-10px)}
    100%{transform:translateX(0)}
}

/* 转入 */
@-webkit-keyframes rotatein{
    0%{opacity:0;-webket-transform:rotate(-200deg);}
    100%{opacity:1;-webket-transform:rotate(0);}
}
@-moz-keyframes rotatein{
    0%{opacity:0;-moz-transform:rotate(-200deg);}
    100%{opacity:1;-moz-transform:rotate(0);}
}
@-moz-keyframes rotatein{
    0%{opacity:0;-moz-transform:rotate(-200deg);}
    100%{opacity:1;-moz-transform:rotate(0);}
}
@-ms-keyframes rotatein{
    0%{opacity:0;-ms-transform:rotate(-200deg);}
    100%{opacity:1;-ms-transform:rotate(0);}
}
@keyframes rotatein{
    0%{opacity:0;transform:rotate(-200deg);}
    100%{opacity:1;transform:rotate(0);}
}

/* 转入-左上 */
@-webkit-keyframes rotateinLT{
    0%{transform-origin: left bottom; transform: rotate(-90deg); opacity: 0}
    100%{transform-origin: left bottom;transform: rotate(0); opacity: 1}
}